* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
/* Style du loader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(9, 2, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    animation: fadeOut 3s forwards;
    animation-delay: 5s;

}

.loader h1 {
    color: white;
    font-size: 2rem;
}

/* Animation des points */

.loader h1 span {
    display: inline-block;
    animation: bounce 2s infinite;
}

.loader h1 span:nth-child(1) {
    animation-delay: 0s;
}

.loader h1 span:nth-child(2) {
    animation-delay: 0.2s;
}

.loader h1 span:nth-child(3) {
    animation-delay: 0.4s;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
    
}

header .nom {
    font-size: 40px;
    font-weight: 500;
}

.nom span {
    color:#3f65f0;
}

ul {
    display:flex;

}

ul li {
    list-style:none;
    padding: 8px 12px;
}
ul li a {
    color:rgb(9, 2, 32);
    font-size: 17px;
    transition:0.5s;
    text-decoration: none;
    
}

ul li a:hover{
    color:#3f65f0;
    border-bottom: 2px solid #3f65f0;
}

ul li:last-child a:hover {
    border-bottom: none;
}

nav button {
    color: white;
    background: #3f65f0;
    border: 2px solid #3f65f0;
    border-radius: 10px;
    padding:8px 12px;
    cursor:pointer;
}

nav button:hover {
    border: 2px solid #3f65f0;
    background: white;
    border-radius: 10px;
    color:#3f65f0
}

.blue {
    color: #3f65f0;
}


main {
    padding: 80px 80px;
}

.slogan {
    font-size: 50px;
    font-weight: 700;
}

main p {
    max-width: 45%;
    margin: 20px 0;
}

#btn {
    padding:15px 25px;
    color:white;
    background: #3f65f0;
    border: 2px solid #3f65f0;
    font-size: 18px;
    border-radius: 30px;
    transition: 0.3s;
}

#btn:hover {
    letter-spacing: 5px;
}


.quarter-circle {
    position: fixed;
    height: 600px;
    width:600px;
    right:0;
    bottom:0;
    background: #3f65f0;
    border-top-left-radius: 100%;
}

.quarter-circle-pc {
    position:absolute;
    bottom: 0;
    right:0;
    transition: 2s;
}

.quarter-circle-pc img {
    cursor:pointer;
    transition:0.5s;
    width:90%;
}

.quarter-circle-pc:hover {
    transform: scale(0.75);
}
/* Animation pour les points */

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

/* Effet de disparition du loader */

@keyframes fadeOut {
    from {
        opacity:1;
        visibility: visible;
    }
    to {
        opacity:0;
        visibility:hidden;
    }
}

@media all and (max-width: 1024px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
        padding: 5% 0;
        color:white;
        background-color: #3f65f0;
    }
}